<div class='country-info'>
  <ul>
    <li class='country-name'>{{country[0].name.official}}</li>
    <li class='country-capital'>{{country[0].capital}}</li>
    <li class='country-population'>{{country[0].population}}</li>
    <li class='languages'>{{#each country[0].languages}}{{this}}, {{/each}}</li>
  </ul>
</div>